button > img
{
  width: 38px;
  height: 38px;
}

button
{
	border-radius: 5px;
}

.buttonDiv
{
	display: inline-block;
	margin: 5px;
}

.buttonDiv > button
{
	display: block;
	margin: 5px;
}

.buttonDiv p
{
	display: inline;
	margin-right: 5px;
}

[data-state = "purchased"]
{
	border-style: solid;
	border-width: 3px;
	border-color: green;
	background-color: lightgreen;
}

[data-state = "purchasable"]
{
	border-style: dashed;
	border-width: 2px;
	border-color: orange;
	background-color: yellow;
}

[data-state = "previous_levels"]
{
	border-style: dotted;
	border-width: 2px;
	border-color: black;
}

[data-state = "more_coins"]
{
	border-style: dotted;
	border-width: 2px;
	border-color: red;
	background-color: orange;
}

#welcomeText
{
	display: inline;
}

#messageArea
{
	font-weight: bold;
}

#home
{
	position: absolute;
	margin: 20px;

	top:0;
	left:0;
}